@layout Shared.LoginLayout
@using BlazorApp1.Shared

@page "/"




    <img src="css/resources/login_bg.jpg" class="background-image" />
    <img src="css/resources/EduHub_Logo.png" class="logo-image" />

    <NavLink href="/login">
        <button class="login-button">LOGIN</button>
    </NavLink>
    <NavLink href="/register">
        <button class="register-button">REGISTER</button>
    </NavLink>

@code {

}
