body {
}


.modules {
    position: absolute;
    left: 20%;
    top: 12%;
    width: 78%;
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-buttons {
    position: fixed;
    top: 50%;
    left: 3%;
    width: 15%;
}



.category-button {
    display: block;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 8%;
    border: none;
    border-radius: 5px;
    background-color: #6D2932;
    color: #E8D8C4;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .category-button:hover {
        background-color: #C7B7A3;
        color: #6D2932;
    }

.searchbar {
    margin-bottom: 20px;
}

.modules {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.module-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    object-fit: contain;
}

    .module-box img {
        width: 100%;
        height: auto;
    }

    .module-box .text {
        padding: 10px;
    }
