body[b-7ukc7atea8] {
}

.background-image[b-7ukc7atea8]{
    background-color: #759F48;
}
.box1[b-7ukc7atea8] {
    position: absolute;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

.box1 img[b-7ukc7atea8]{
    width:100%;
    height:100%;
    object-fit:contain;
    z-index:0;
}

.box2[b-7ukc7atea8] {
    position: absolute;
    left:9.9%;
    top:0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

.box2 img[b-7ukc7atea8] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.box3[b-7ukc7atea8] {
    position: absolute;
    left: 19.8%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box3 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box4[b-7ukc7atea8] {
    position: absolute;
    left: 29.7%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box4 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box5[b-7ukc7atea8] {
    position: absolute;
    left: 39.6%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box5 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index:0;
    }

.box6[b-7ukc7atea8] {
    position: absolute;
    left: 49.5%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box6 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box7[b-7ukc7atea8] {
    position: absolute;
    left: 59.4%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box7 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box8[b-7ukc7atea8] {
    position: absolute;
    left: 69.3%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box8 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box9[b-7ukc7atea8] {
    position: absolute;
    left: 79.2%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box9 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index:0;
    }

.box10[b-7ukc7atea8] {
    position: absolute;
    left: 89.1%;
    top: 0%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box10 img[b-7ukc7atea8] {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 0;
}

.box11[b-7ukc7atea8] {
    position: absolute;
    width: 10%;
    height: 20%;
    top:20%;
    z-index: 0;
    background-color: transparent;
}

    .box11 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box12[b-7ukc7atea8] {
    position: absolute;
    left: 9.9%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box12 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box13[b-7ukc7atea8] {
    position: absolute;
    left: 19.8%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box13 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box14[b-7ukc7atea8] {
    position: absolute;
    left: 29.7%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box14 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index:0;
    }

.box15[b-7ukc7atea8] {
    position: absolute;
    left: 39.6%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box15 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box16[b-7ukc7atea8] {
    position: absolute;
    left: 49.5%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box16 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box17[b-7ukc7atea8] {
    position: absolute;
    left: 59.4%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box17 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box18[b-7ukc7atea8] {
    position: absolute;
    left: 69.3%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box18 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box19[b-7ukc7atea8] {
    position: absolute;
    left: 79.2%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box19 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box20[b-7ukc7atea8] {
    position: absolute;
    left: 89.1%;
    top: 20%;
    width: 10%;
    height: 20%;
    z-index: 0;
    background-color: transparent;
}

    .box20 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 0;
    }

.box21[b-7ukc7atea8] {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 40%;
    z-index: 1;
    background-color: transparent;
}

    .box21 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box22[b-7ukc7atea8] {
    position: absolute;
    left: 9.9%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box22 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box23[b-7ukc7atea8] {
    position: absolute;
    left: 19.8%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box23 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box24[b-7ukc7atea8] {
    position: absolute;
    left: 29.7%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box24 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box25[b-7ukc7atea8] {
    position: absolute;
    left: 39.6%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box25 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box26[b-7ukc7atea8] {
    position: absolute;
    left: 49.5%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box26 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box27[b-7ukc7atea8] {
    position: absolute;
    left: 59.4%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box27 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box28[b-7ukc7atea8] {
    position: absolute;
    left: 69.3%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box28 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box29[b-7ukc7atea8] {
    position: absolute;
    left: 79.2%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box29 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box30[b-7ukc7atea8] {
    position: absolute;
    left: 89.1%;
    top: 40%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box30 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box31[b-7ukc7atea8] {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 60%;
    z-index: 1;
    background-color: transparent;
}

    .box31 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box32[b-7ukc7atea8] {
    position: absolute;
    left: 9.9%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box32 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box33[b-7ukc7atea8] {
    position: absolute;
    left: 19.8%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box33 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box34[b-7ukc7atea8] {
    position: absolute;
    left: 29.7%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box34 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box35[b-7ukc7atea8] {
    position: absolute;
    left: 39.6%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box35 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box36[b-7ukc7atea8] {
    position: absolute;
    left: 49.5%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box36 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box37[b-7ukc7atea8] {
    position: absolute;
    left: 59.4%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box37 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box38[b-7ukc7atea8] {
    position: absolute;
    left: 69.3%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box38 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box39[b-7ukc7atea8] {
    position: absolute;
    left: 79.2%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box39 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box40[b-7ukc7atea8] {
    position: absolute;
    left: 89.1%;
    top: 60%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box40 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box41[b-7ukc7atea8] {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 80%;
    z-index: 1;
    background-color: transparent;
}

    .box41 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box42[b-7ukc7atea8] {
    position: absolute;
    left: 9.9%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box42 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box43[b-7ukc7atea8] {
    position: absolute;
    left: 19.8%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box43 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box44[b-7ukc7atea8] {
    position: absolute;
    left: 29.7%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box44 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box45[b-7ukc7atea8] {
    position: absolute;
    left: 39.6%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box45 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box46[b-7ukc7atea8] {
    position: absolute;
    left: 49.5%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box46 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box47[b-7ukc7atea8] {
    position: absolute;
    left: 59.4%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box47 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box48[b-7ukc7atea8] {
    position: absolute;
    left: 69.3%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box48 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box49[b-7ukc7atea8] {
    position: absolute;
    left: 79.2%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box49 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.box50[b-7ukc7atea8] {
    position: absolute;
    left: 89.1%;
    top: 80%;
    width: 10%;
    height: 20%;
    z-index: 1;
    background-color: transparent;
}

    .box50 img[b-7ukc7atea8] {
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

.e-meter[b-7ukc7atea8] {
    position: absolute;
    top: -23%;
    left: -10%;
    z-index: 1;
}

.e-meter img[b-7ukc7atea8]{
    transform:scale(0.1);
}

.pollute-meter[b-7ukc7atea8] {
    position: absolute;
    top: 3%;
    left: 0.2%;
    z-index: 1;
}

    .pollute-meter img[b-7ukc7atea8] {
        transform: scale(0.5);
    }

.urban-meter[b-7ukc7atea8] {
    position: absolute;
    top: -11%;
    left: -10%;
    z-index: 1;
}

    .urban-meter img[b-7ukc7atea8] {
        transform: scale(0.1);
    }

.people-meter[b-7ukc7atea8]{
    position:absolute;
    top:-11%;
    left:73%;
    z-index:1;
}

.people-meter img[b-7ukc7atea8]{
    transform:scale(0.15);
}

.food-meter[b-7ukc7atea8] {
    position: absolute;
    top: -18%;
    left:73%;
    z-index: 1;
}

.food-meter img[b-7ukc7atea8]{
    transform:scale(0.1);
}

.fund-meter[b-7ukc7atea8] {
    position: absolute;
    top:-23%;
    left: 73%;
    z-index: 1;
}

.fund-meter  img[b-7ukc7atea8]{
    transform:scale(0.1);
}

.pics[b-7ukc7atea8] {
    position: absolute;
    z-index: 3;
    max-width: 100px;
    max-height:95px;
}

#pic1[b-7ukc7atea8]{
    top:5%;
    left:1%;
}

#pic2[b-7ukc7atea8] {
    top:5%;
    left: 10%;
}
#pic3[b-7ukc7atea8] {
    top:5%;
    left: 20%;
}
#pic4[b-7ukc7atea8] {
    top:5%;
    left: 30%;
}
#pic5[b-7ukc7atea8] {
    top:5%;
    left:40%;
}
#pic6[b-7ukc7atea8] {
    top:5%;
    left: 50%;
}
#pic7[b-7ukc7atea8] {
    top:5%;
    left: 60%;
}
#pic8[b-7ukc7atea8] {
    top:5%;
    left: 70%;
}
#pic9[b-7ukc7atea8] {
    top:5%;
    left: 80%;
}
#pic10[b-7ukc7atea8] {
    top:5%;
    left: 89%;
}
#pic11[b-7ukc7atea8]{
    top:5%;
    left:98%;
    right:2%;
}