body[b-lsouz8eqiw] {
    overflow:hidden;
}

.background-image[b-lsouz8eqiw] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.logo-image[b-lsouz8eqiw] {
    position: absolute;
    top: -23%;
    left: 25%;
    width: 50%;
    height: 95%;
}

.login-button[b-lsouz8eqiw] {
    position: absolute;
    top: 42%;
    left: 42%;
    width: 280px;
    height: 120px;
    background-color: #C7B7A3;
    border-radius: 20px;
    font-family: Bahnschrift;
    font-size: 35px;
    padding: 8px;
}

.register-button[b-lsouz8eqiw] {
    position: absolute;
    top: 60%;
    left: 42%;
    width: 280px;
    height: 120px;
    background-color: #C7B7A3;
    border-radius: 20px;
    font-family: Bahnschrift;
    font-size: 35px;
    padding: 8px;
}

    .login-button:hover[b-lsouz8eqiw], .register-button:hover[b-lsouz8eqiw] {
        background-color: black;
        color: #C7B7A3;
        border-color: #C7B7A3;
    }