@inherits LayoutComponentBase

<NavLink href="/chats">
    <div class="chat-icon">
        <img src="css/resources/chats_icon.png" />
    </div>
</NavLink>

<NavLink href="/post">
    <div class="post-icon">
        <img src="css/resources/post_icon.png" />
    </div>
</NavLink>

<NavLink href="/dev">
<div class="blog-icon">
    <img src="css/resources/blog_icon.png" />
</div>
</NavLink>
@code {

}
