.top-division {
    position: relative;
    width: 100%;
    height: 15vh;
    background-color: #6D2932;
}

.main-division {
    position: relative;
    width: 100%;
    height: 85vh;
    background-color: #E8D8C4;
    border: 2px solid white;
}

.logo-division {
    position: absolute;
    width: 22%;
    height: 15vh;
    left: 2%;
    background-color: #6D2932;
}

.logo-division img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    overflow: hidden;
}

.account-division {
    position: absolute;
    top:5%;
    width: 7%;
    height: 13vh;
    right: 2%;
    background-color: navajowhite;
    border-radius: 50%;
}

.account-division img{
    width:100%;
    height:100%;
    object-fit:fill;
    border-radius:50%;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
